DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require&channel_binding=require"
ADMIN_EMAIL="admin@kocani.gov.mk"
ADMIN_PASSWORD="andov123"
SESSION_SECRET="promeni-ja-ovaa-sesija-so-dolga-slucajna-vrednost"
