node_modules
.next
out
dist

.env
.env*.local

prisma/dev.db
prisma/dev.db-journal

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.env.local
.env*.local
node_modules
.next
.DS_Store
*.db
prisma/dev.db
